
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Invoice</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400,600,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div style="font-family: arial">
        <div style="background-color: #fff; max-width: 670pt; border-radius: 3pt; border: 1pt solid #C4C4C4; margin: auto; padding: 0pt; border-radius: 5pt; width: 100%;"> 
            
            <!-- Header -->
            
            <div style="display: flex; justify-content: space-between; align-items: center; margin: 0rem 0rem 1rem;">
                <div style="padding: 1rem 1rem 0rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="210" height="54" viewBox="0 0 210 54" fill="none">
                    <path d="M32.7368 26.4696C32.7368 23.8587 32.7034 21.2462 32.7451 18.6371C32.7968 15.4511 35.6093 12.3918 38.7587 11.9133C39.9757 11.7283 41.1461 11.7966 42.2848 12.1751C44.2004 12.8103 46.061 12.7202 47.9849 12.1451C50.9925 11.2448 53.57 12.1201 55.6573 14.4058C56.886 15.7512 57.4245 17.4167 57.4345 19.2173C57.4612 24.3005 57.4479 29.3838 57.4429 34.4671C57.4412 35.9742 56.4575 37.0095 55.0638 36.9995C53.6517 36.9912 52.7464 35.9975 52.7447 34.4287C52.7397 29.5672 52.7414 24.7057 52.743 19.8458C52.743 19.1439 52.6864 18.4537 52.3062 17.8435C51.681 16.8399 50.5023 16.3897 49.3336 16.6832C48.2533 16.9532 47.4731 17.9652 47.4531 19.2423C47.423 21.1579 47.4431 23.0752 47.4414 24.9924C47.4414 28.1868 47.4481 31.3811 47.4364 34.5754C47.4314 35.8358 46.5945 36.8211 45.4458 36.9812C44.2687 37.1446 43.1967 36.4944 42.8249 35.3973C42.6782 34.9639 42.7166 34.5187 42.7166 34.0769C42.7116 29.4105 42.7132 24.744 42.7132 20.0759C42.7132 19.6324 42.6982 19.1939 42.6049 18.7521C42.2848 17.24 41.2511 16.4998 39.6256 16.6465C38.4186 16.7548 37.4599 17.8318 37.4483 19.1823C37.4249 22.1549 37.4399 25.1275 37.4399 28.0984C37.4399 30.2091 37.4449 32.3214 37.4383 34.432C37.4333 35.9559 36.4863 36.9828 35.0875 36.9979C33.6654 37.0145 32.7284 36.0392 32.7184 34.4721C32.7018 31.8062 32.7134 29.1387 32.7134 26.4712C32.7218 26.4696 32.7301 26.4696 32.7368 26.4696Z" fill="#FF8B00"/>
                    <path d="M36.383 43.8135C33.7438 43.8135 31.1046 43.7469 28.4688 43.8285C23.9874 43.9669 21.4449 41.3611 20.0745 37.68C19.3043 35.6093 19.0275 33.447 19.0325 31.2329C19.0359 28.8155 19.2526 26.4231 19.511 24.0223C19.9495 19.9611 19.0675 16.3299 15.5964 13.7391C13.5758 12.232 11.2367 11.4717 8.79598 10.9799C6.91373 10.6015 5.01813 10.3914 3.09753 10.4664C2.90413 10.4748 2.70741 10.4798 2.51401 10.4598C1.47869 10.3514 0.761798 9.66785 0.750128 8.78924C0.738458 7.89562 1.52704 7.13372 2.59237 7.12372C7.42722 7.07704 12.1054 7.78559 16.35 10.2814C20.1145 12.4937 22.1818 15.8264 22.792 20.1428C23.1121 22.4102 22.6937 24.6142 22.5069 26.8416C22.2119 30.361 21.9251 33.8888 23.4389 37.2331C24.3225 39.1854 25.6746 40.3325 28.0587 40.3375C33.7771 40.3475 39.4973 40.4392 45.2174 40.4308C46.3027 40.4291 46.9346 41.016 46.9563 42.0013C46.9796 43.0433 46.2744 43.8019 45.2157 43.8069C42.2715 43.8219 39.3272 43.8135 36.383 43.8135Z" fill="#0185BA"/>
                    <path d="M155.3 25.4413C156.175 23.3306 156.961 21.4434 157.741 19.5544C158.345 18.094 158.921 16.6235 159.545 15.1731C160.258 13.5176 162.564 12.804 164.11 13.7293C164.655 14.0561 164.802 14.5946 164.803 15.1564C164.817 20.6548 164.822 26.1548 164.802 31.6532C164.798 32.7636 164.178 33.3004 163.054 33.3204C161.042 33.3571 160.62 32.9403 160.62 30.9147C160.62 27.9704 160.62 25.0262 160.62 22.0836C160.62 21.7918 160.62 21.5001 160.62 21.0799C160.13 21.3717 160.058 21.7368 159.925 22.0519C159.243 23.6591 158.573 25.2712 157.889 26.8784C157.274 28.3222 156.731 28.6456 155.245 28.6906C153.901 28.7307 153.14 28.0621 152.664 26.8867C151.978 25.1912 151.257 23.5074 150.545 21.8218C150.45 21.5984 150.399 21.3417 150.122 21.1666C149.884 21.4117 149.977 21.7268 149.977 22.0019C149.97 25.0295 149.974 28.0554 149.972 31.0831C149.97 33.0103 148.762 33.8906 146.951 33.2537C146.332 33.0353 145.934 32.5885 145.929 31.88C145.924 31.2131 145.916 30.5479 145.916 29.881C145.914 25.1045 145.912 20.328 145.917 15.5499C145.919 13.8827 146.366 13.4492 148.048 13.4475C150.034 13.4459 150.402 13.6876 151.161 15.5315C152.386 18.5025 153.606 21.4767 154.832 24.4493C154.935 24.6994 155.062 24.9395 155.3 25.4413Z" fill="#FF8B00"/>
                    <path d="M99.2392 23.6605C99.2392 20.8579 99.2326 18.0537 99.2426 15.2512C99.2476 13.8124 99.6994 13.4439 101.378 13.4523C102.774 13.459 103.292 13.9391 103.296 15.2495C103.301 16.9701 103.292 18.6906 103.304 20.4111C103.306 20.6429 103.185 20.9563 103.476 21.0813C103.742 21.1964 103.929 20.943 104.124 20.7979C106.196 19.2524 108.679 19.0907 110.539 20.4428C112.083 21.5632 112.728 23.222 112.939 25.0259C113.162 26.9332 113.074 28.8354 112.373 30.671C110.995 34.2871 106.777 35.2925 103.974 32.63C103.411 32.0948 103.2 32.0264 102.93 32.87C102.569 34.0004 101.843 33.902 100.301 33.777C99.476 33.7103 99.2126 33.0167 99.2409 32.2382C99.2426 32.1832 99.2392 32.1265 99.2392 32.0715C99.2392 29.2656 99.2392 26.463 99.2392 23.6605ZM103.291 26.7781C103.291 27.2766 103.289 27.7751 103.291 28.2736C103.299 29.7574 104.194 30.7894 105.715 31.0728C106.923 31.2979 108.134 30.5476 108.607 29.2256C109.147 27.7184 109.076 26.1679 108.722 24.6458C108.369 23.1286 107.237 22.4584 105.571 22.6452C104.264 22.7919 103.301 23.9406 103.291 25.3627C103.287 25.8362 103.291 26.308 103.291 26.7781Z" fill="#0185BA"/>
                    <path d="M24.1558 17.8054C23.6673 16.425 23.1705 15.2263 22.4736 14.1243C22.2685 13.8008 22.4236 13.5491 22.5753 13.279C26.3431 6.64358 31.9282 2.32055 39.3589 0.666702C46.9546 -1.02383 53.9918 0.513322 60.3071 5.1331C61.1824 5.7733 61.9976 6.48853 62.7712 7.24543C63.3964 7.85729 63.5048 8.71423 63.063 9.35609C62.5945 10.0396 61.7159 10.3014 60.9356 9.93461C60.5905 9.77289 60.2721 9.52781 59.9887 9.2694C56.3158 5.92502 51.9995 3.88771 47.068 3.5376C38.2969 2.91407 31.3447 6.29347 26.3565 13.5841C25.9197 14.2226 25.5562 14.9162 25.1978 15.6047C24.851 16.2666 24.5559 16.9535 24.1558 17.8054Z" fill="#FF8B00"/>
                    <path d="M65.9038 23.9088C65.8571 21.9382 66.1372 20.0359 67.0625 18.267C68.568 15.3895 71.0454 14.0324 74.1897 13.799C75.6002 13.6939 77.0173 13.7723 78.4244 13.9607C79.7998 14.1457 80.6768 15.5745 80.2116 16.8716C79.9732 17.5351 79.408 17.7969 78.4878 17.6035C77.6708 17.4318 76.8556 17.3217 76.0187 17.2951C72.4059 17.175 70.8737 19.4157 70.4586 22.4383C70.2852 23.7054 70.3819 24.9725 70.6136 26.2362C71.0888 28.827 73.1811 30.6026 75.8086 30.6309C76.7022 30.6409 77.5808 30.5692 78.4544 30.3892C79.6265 30.1491 80.2716 30.3541 80.435 31.016C80.7351 32.2297 80.2667 33.5485 79.2763 33.7319C75.4085 34.4521 71.6073 34.5538 68.4913 31.5695C67.1092 30.2458 66.4206 28.5202 66.0805 26.643C65.9172 25.7327 65.9222 24.8207 65.9038 23.9088Z" fill="#0185BA"/>
                    <path d="M181.017 27.6852C181.017 28.9906 181.028 30.2961 181.013 31.5998C181.002 32.6335 180.54 33.2103 179.689 33.312C178.204 33.4904 177.425 33.182 177.192 32.1466C176.994 31.2647 176.719 31.5765 176.322 31.9599C174.7 33.5304 172.792 34.0272 170.677 33.2253C168.953 32.5718 168.214 31.098 168.279 28.8956C168.331 27.1834 169.406 25.7463 171.158 25.1061C172.526 24.6059 173.946 24.4442 175.401 24.4175C175.875 24.4092 176.66 24.8577 176.787 23.879C176.905 22.9654 176.383 22.2219 175.536 21.9801C174.369 21.6483 173.226 21.9534 172.075 22.0701C171.527 22.1252 170.985 22.2885 170.437 22.3152C169.271 22.3686 168.769 21.5833 169.241 20.5063C169.44 20.0545 169.748 19.6811 170.233 19.5644C172.762 18.9575 175.313 18.6307 177.864 19.3943C179.854 19.9912 180.898 21.4483 180.985 23.6023C180.998 23.9357 181.013 24.2675 181.015 24.6009C181.018 25.6313 181.017 26.6583 181.017 27.6852ZM175.268 26.8083C174.313 26.7733 173.277 26.8616 172.501 27.7386C171.672 28.6739 172.075 30.3177 173.196 30.5945C174.695 30.9629 176.183 30.116 176.652 28.6272C177.122 27.1284 176.897 26.8033 175.268 26.8083Z" fill="#FF8B00"/>
                    <path d="M89.3862 29.7909C89.983 28.969 90.1514 28.0737 90.4099 27.2117C90.98 25.3011 91.5152 23.3805 92.0904 21.4716C92.5505 19.9461 94.6062 19.1609 95.9649 19.9778C96.6101 20.3663 96.5084 20.9314 96.2917 21.515C95.3264 24.1108 94.3628 26.7082 93.3958 29.3024C92.3021 32.235 91.2051 35.1659 90.1081 38.0985C89.5429 39.6106 88.0791 40.3492 86.497 39.9207C85.7 39.704 85.435 39.1872 85.7517 38.4119C86.2335 37.2315 86.7137 36.0495 87.2372 34.8875C87.519 34.2606 87.4956 33.6921 87.2589 33.0536C85.8384 29.2374 84.448 25.4095 83.0542 21.5833C82.5891 20.3029 82.9642 19.7944 84.353 19.7877C84.658 19.7861 84.9648 19.7761 85.2682 19.7911C86.3152 19.8461 87.0505 20.4129 87.3055 21.4283C87.9274 23.8974 88.5193 26.3748 89.1278 28.8489C89.2061 29.164 89.2995 29.4775 89.3862 29.7909Z" fill="#0185BA"/>
                    <path d="M123.737 27.9836C122.653 27.9836 121.571 27.977 120.488 27.987C119.619 27.9953 119.479 28.207 119.739 29.0606C120.166 30.4577 121.136 31.1513 122.912 31.2713C123.854 31.3363 124.796 31.2997 125.726 31.0813C126.825 30.8229 127.458 31.0363 127.625 31.6848C127.867 32.6218 127.268 33.5971 126.239 33.8055C125.071 34.0422 123.877 34.2289 122.688 34.1206C121.483 34.0105 120.271 33.9205 119.132 33.3753C117.302 32.5 116.16 31.1263 115.704 29.149C115.231 27.0884 115.336 25.0727 116.125 23.1104C116.701 21.6783 117.718 20.668 119.166 20.0962C120.763 19.466 122.42 19.3759 124.065 19.7194C126.805 20.2912 128.358 22.1268 128.635 24.936C128.647 25.046 128.644 25.1577 128.655 25.2694C128.872 27.5985 128.517 27.9836 126.151 27.9836C125.347 27.9836 124.542 27.9836 123.737 27.9836ZM122.233 25.6079C122.9 25.6079 123.567 25.6112 124.232 25.6062C124.661 25.6029 124.907 25.4178 124.902 24.9527C124.887 23.3722 123.899 22.3569 122.413 22.2935C120.501 22.2118 119.829 23.4222 119.639 24.9293C119.582 25.3745 119.759 25.6146 120.234 25.6079C120.899 25.6012 121.566 25.6079 122.233 25.6079Z" fill="#0185BA"/>
                    <path d="M200.788 26.4515C200.788 25.3545 200.766 24.4092 200.796 23.4656C200.814 22.8487 200.561 22.612 199.956 22.6453C199.601 22.6653 199.234 22.707 198.887 22.557C198.232 22.2719 197.854 21.8101 197.965 21.0648C198.08 20.2962 198.607 19.9395 199.317 19.7978C199.767 19.7077 200.349 20.0078 200.658 19.5894C200.974 19.1592 200.769 18.5657 200.786 18.0439C200.808 17.377 200.773 16.7101 200.801 16.0432C200.838 15.1696 201.355 14.6495 202.212 14.6161C204.132 14.5411 205.091 14.4461 205.009 17.2219C204.986 18.0372 204.632 19.0792 205.202 19.621C205.728 20.1212 206.743 19.7477 207.542 19.7828C208.167 19.8094 208.772 19.8594 209.152 20.4513C209.764 21.4033 209.197 22.5553 208.045 22.6403C207.326 22.692 206.6 22.6903 205.879 22.647C205.174 22.6053 204.969 22.9021 204.982 23.5739C205.019 25.2395 204.982 26.9083 205.002 28.5738C205.022 30.2744 205.559 30.5678 207.248 30.5395C207.577 30.5345 207.9 30.4011 208.233 30.5261C208.777 30.7312 209.16 31.108 209.142 31.6931C209.117 32.4584 208.805 33.1653 208.012 33.3703C206.103 33.8622 204.211 33.7555 202.425 32.8635C201.43 32.365 201.185 31.358 200.969 30.3694C200.674 29.0206 200.834 27.6536 200.788 26.4515Z" fill="#FF8B00"/>
                    <path d="M131.783 26.8298C131.783 25.1927 131.766 23.5555 131.791 21.9183C131.803 21.2047 131.789 20.4112 132.576 20.046C133.468 19.6326 134.409 19.6126 135.299 20.0711C135.896 20.3778 135.971 20.963 135.982 21.5749C135.987 21.8549 135.806 22.2701 136.161 22.3901C136.483 22.4968 136.658 22.0984 136.854 21.8866C137.878 20.7796 139.17 20.2144 140.621 19.9293C141.392 19.7776 141.938 20.0544 142.236 20.7529C142.549 21.4865 142.236 22.3051 141.573 22.7069C141.102 22.9903 140.564 22.9953 140.057 23.1153C137.568 23.6989 136.152 25.4311 136.136 27.9769C136.126 29.364 136.144 30.7511 136.129 32.1382C136.117 33.2919 135.589 33.8104 134.454 33.8204C132.101 33.842 131.781 33.5253 131.781 31.1612C131.783 29.7141 131.783 28.272 131.783 26.8298Z" fill="#0185BA"/>
                    <path d="M188.977 21.8266C189.936 21.2131 190.599 20.4562 191.528 20.0377C192.163 19.7509 192.817 19.5559 193.494 19.3875C194.282 19.1908 194.807 19.4742 195.126 20.1477C195.473 20.8813 195.221 21.7249 194.566 22.12C194.287 22.2867 193.959 22.4068 193.639 22.4635C190.464 23.0186 189.086 24.6108 189.027 27.8468C189.006 29.0955 189.034 30.3443 189.017 31.593C189.001 32.8017 188.48 33.3102 187.292 33.3235C186.958 33.3269 186.625 33.3335 186.293 33.3202C185.414 33.2852 184.808 32.7484 184.803 31.8631C184.779 28.1169 184.794 24.3707 184.794 20.6246C184.794 20.2711 184.926 19.9393 185.169 19.7243C185.973 19.0141 186.955 19.2208 187.867 19.3642C188.686 19.4925 188.874 20.2328 188.971 20.9447C189.009 21.2297 188.977 21.5298 188.977 21.8266Z" fill="#FF8B00"/>
                    <path d="M56.8477 40.4292C58.7633 40.4292 60.6773 40.4242 62.5929 40.4308C63.7949 40.4358 64.4551 41.0177 64.4634 42.0597C64.4718 43.09 63.7099 43.8102 62.5762 43.8119C58.8017 43.8169 55.0272 43.8169 51.2526 43.8119C50.0939 43.8102 49.262 43.06 49.2587 42.033C49.2553 41.0577 49.9939 40.4358 51.1876 40.4308C53.0732 40.4242 54.9605 40.4292 56.8477 40.4292Z" fill="#0185BA"/>
                    <path d="M55.4906 53.4797C53.3767 53.478 51.7495 51.8225 51.7478 49.6685C51.7445 47.4845 53.4133 45.7856 55.5557 45.7889C57.733 45.7923 59.4552 47.5145 59.4602 49.6918C59.4669 51.8742 57.7814 53.4814 55.4906 53.4797Z" fill="#0185BA"/>
                    <path d="M35.4593 49.677C35.4543 51.921 33.8904 53.4715 31.6547 53.4832C29.3707 53.4949 27.8452 51.8977 27.7685 49.6003C27.7002 47.5397 29.5824 45.7841 31.6881 45.7908C33.8304 45.7975 35.4643 47.483 35.4593 49.677Z" fill="#0185BA"/>
                    <path d="M98.7103 52.9546C97.8802 52.9546 97.1343 52.8103 96.4727 52.5215C95.823 52.2208 95.3117 51.8118 94.9388 51.2944C94.5658 50.7651 94.3734 50.1576 94.3613 49.4718H96.1117C96.1719 50.0613 96.4125 50.5606 96.8336 50.9696C97.2667 51.3666 97.8922 51.5651 98.7103 51.5651C99.4923 51.5651 100.106 51.3726 100.551 50.9877C101.008 50.5907 101.237 50.0854 101.237 49.4718C101.237 48.9906 101.104 48.5996 100.84 48.2989C100.575 47.9981 100.244 47.7696 99.8472 47.6132C99.4502 47.4568 98.9148 47.2883 98.2411 47.1079C97.411 46.8913 96.7433 46.6748 96.2381 46.4582C95.7448 46.2417 95.3177 45.9048 94.9568 45.4477C94.608 44.9785 94.4335 44.3529 94.4335 43.571C94.4335 42.8852 94.608 42.2777 94.9568 41.7483C95.3057 41.219 95.7929 40.81 96.4185 40.5213C97.0561 40.2325 97.784 40.0882 98.602 40.0882C99.781 40.0882 100.743 40.3829 101.489 40.9724C102.247 41.5619 102.674 42.3439 102.771 43.3183H100.966C100.906 42.8371 100.653 42.416 100.208 42.0551C99.763 41.6822 99.1735 41.4957 98.4396 41.4957C97.7539 41.4957 97.1945 41.6762 96.7614 42.0371C96.3283 42.386 96.1117 42.8792 96.1117 43.5168C96.1117 43.974 96.2381 44.3469 96.4907 44.6356C96.7554 44.9244 97.0742 45.1469 97.4471 45.3033C97.8321 45.4477 98.3674 45.6161 99.0532 45.8086C99.8833 46.0372 100.551 46.2658 101.056 46.4943C101.562 46.7109 101.995 47.0537 102.356 47.5229C102.716 47.9801 102.897 48.6057 102.897 49.3997C102.897 50.0132 102.734 50.5907 102.41 51.132C102.085 51.6734 101.604 52.1125 100.966 52.4494C100.328 52.7862 99.5765 52.9546 98.7103 52.9546Z" fill="black"/>
                    <path d="M114.336 47.5049C114.336 47.8177 114.318 48.1485 114.282 48.4974H106.378C106.438 49.4718 106.769 50.2358 107.371 50.7892C107.984 51.3305 108.724 51.6012 109.59 51.6012C110.3 51.6012 110.89 51.4388 111.359 51.114C111.84 50.7771 112.177 50.332 112.369 49.7786H114.138C113.873 50.729 113.344 51.505 112.55 52.1065C111.756 52.696 110.769 52.9907 109.59 52.9907C108.652 52.9907 107.81 52.7802 107.064 52.3591C106.33 51.9381 105.753 51.3426 105.331 50.5726C104.91 49.7907 104.7 48.8884 104.7 47.8658C104.7 46.8432 104.904 45.9469 105.313 45.177C105.722 44.4071 106.294 43.8176 107.028 43.4085C107.774 42.9875 108.628 42.7769 109.59 42.7769C110.529 42.7769 111.359 42.9815 112.081 43.3905C112.802 43.7995 113.356 44.365 113.741 45.0868C114.138 45.7966 114.336 46.6026 114.336 47.5049ZM112.64 47.162C112.64 46.5364 112.502 46.0011 112.225 45.556C111.948 45.0988 111.569 44.7559 111.088 44.5274C110.619 44.2868 110.096 44.1665 109.518 44.1665C108.688 44.1665 107.978 44.4311 107.389 44.9605C106.811 45.4898 106.48 46.2236 106.396 47.162H112.64Z" fill="black"/>
                    <path d="M118.146 39.4746V52.8283H116.504V39.4746H118.146Z" fill="black"/>
                    <path d="M122.587 39.4746V52.8283H120.945V39.4746H122.587Z" fill="black"/>
                    <path d="M134.408 47.5049C134.408 47.8177 134.39 48.1485 134.354 48.4974H126.45C126.51 49.4718 126.841 50.2358 127.443 50.7892C128.056 51.3305 128.796 51.6012 129.662 51.6012C130.372 51.6012 130.962 51.4388 131.431 51.114C131.912 50.7771 132.249 50.332 132.441 49.7786H134.21C133.945 50.729 133.416 51.505 132.622 52.1065C131.828 52.696 130.841 52.9907 129.662 52.9907C128.724 52.9907 127.882 52.7802 127.136 52.3591C126.402 51.9381 125.825 51.3426 125.404 50.5726C124.983 49.7907 124.772 48.8884 124.772 47.8658C124.772 46.8432 124.977 45.9469 125.386 45.177C125.795 44.4071 126.366 43.8176 127.1 43.4085C127.846 42.9875 128.7 42.7769 129.662 42.7769C130.601 42.7769 131.431 42.9815 132.153 43.3905C132.875 43.7995 133.428 44.365 133.813 45.0868C134.21 45.7966 134.408 46.6026 134.408 47.5049ZM132.712 47.162C132.712 46.5364 132.574 46.0011 132.297 45.556C132.02 45.0988 131.641 44.7559 131.16 44.5274C130.691 44.2868 130.168 44.1665 129.59 44.1665C128.76 44.1665 128.05 44.4311 127.461 44.9605C126.883 45.4898 126.553 46.2236 126.468 47.162H132.712Z" fill="black"/>
                    <path d="M138.218 44.5454C138.507 43.98 138.916 43.5409 139.445 43.2281C139.987 42.9153 140.642 42.7589 141.412 42.7589V44.4552H140.979C139.138 44.4552 138.218 45.4537 138.218 47.4507V52.8283H136.576V42.9394H138.218V44.5454Z" fill="black"/>
                    <path d="M147.505 47.8658C147.505 46.8432 147.71 45.953 148.119 45.1951C148.528 44.4251 149.093 43.8296 149.815 43.4085C150.549 42.9875 151.385 42.7769 152.323 42.7769C153.538 42.7769 154.537 43.0717 155.319 43.6612C156.113 44.2507 156.636 45.0687 156.889 46.1154H155.12C154.952 45.5139 154.621 45.0387 154.128 44.6898C153.647 44.3409 153.045 44.1665 152.323 44.1665C151.385 44.1665 150.627 44.4913 150.05 45.1409C149.472 45.7785 149.183 46.6868 149.183 47.8658C149.183 49.0568 149.472 49.9771 150.05 50.6268C150.627 51.2764 151.385 51.6012 152.323 51.6012C153.045 51.6012 153.647 51.4328 154.128 51.096C154.609 50.7591 154.94 50.2779 155.12 49.6523H156.889C156.624 50.6629 156.095 51.4749 155.301 52.0885C154.507 52.69 153.514 52.9907 152.323 52.9907C151.385 52.9907 150.549 52.7802 149.815 52.3591C149.093 51.9381 148.528 51.3426 148.119 50.5726C147.71 49.8027 147.505 48.9004 147.505 47.8658Z" fill="black"/>
                    <path d="M168.103 47.5049C168.103 47.8177 168.085 48.1485 168.049 48.4974H160.145C160.205 49.4718 160.536 50.2358 161.137 50.7892C161.751 51.3305 162.491 51.6012 163.357 51.6012C164.067 51.6012 164.656 51.4388 165.125 51.114C165.607 50.7771 165.943 50.332 166.136 49.7786H167.904C167.64 50.729 167.11 51.505 166.316 52.1065C165.522 52.696 164.536 52.9907 163.357 52.9907C162.418 52.9907 161.576 52.7802 160.83 52.3591C160.097 51.9381 159.519 51.3426 159.098 50.5726C158.677 49.7907 158.466 48.8884 158.466 47.8658C158.466 46.8432 158.671 45.9469 159.08 45.177C159.489 44.4071 160.061 43.8176 160.794 43.4085C161.54 42.9875 162.394 42.7769 163.357 42.7769C164.295 42.7769 165.125 42.9815 165.847 43.3905C166.569 43.7995 167.122 44.365 167.507 45.0868C167.904 45.7966 168.103 46.6026 168.103 47.5049ZM166.407 47.162C166.407 46.5364 166.268 46.0011 165.991 45.556C165.715 45.0988 165.336 44.7559 164.855 44.5274C164.385 44.2868 163.862 44.1665 163.285 44.1665C162.455 44.1665 161.745 44.4311 161.155 44.9605C160.578 45.4898 160.247 46.2236 160.163 47.162H166.407Z" fill="black"/>
                    <path d="M175.089 42.7589C176.292 42.7589 177.266 43.1258 178.012 43.8597C178.758 44.5815 179.131 45.6281 179.131 46.9996V52.8283H177.507V47.2342C177.507 46.2477 177.26 45.4958 176.767 44.9785C176.274 44.4492 175.6 44.1845 174.746 44.1845C173.88 44.1845 173.188 44.4552 172.67 44.9966C172.165 45.5379 171.913 46.3259 171.913 47.3605V52.8283H170.27V42.9394H171.913V44.3469C172.237 43.8416 172.676 43.4506 173.23 43.1739C173.795 42.8972 174.415 42.7589 175.089 42.7589Z" fill="black"/>
                    <path d="M183.816 44.2928V50.1215C183.816 50.6027 183.919 50.9456 184.123 51.1501C184.328 51.3426 184.682 51.4388 185.188 51.4388H186.397V52.8283H184.917C184.003 52.8283 183.317 52.6178 182.86 52.1967C182.403 51.7757 182.174 51.0839 182.174 50.1215V44.2928H180.893V42.9394H182.174V40.4491H183.816V42.9394H186.397V44.2928H183.816Z" fill="black"/>
                    <path d="M190.029 44.5454C190.317 43.98 190.726 43.5409 191.256 43.2281C191.797 42.9153 192.453 42.7589 193.223 42.7589V44.4552H192.79C190.949 44.4552 190.029 45.4537 190.029 47.4507V52.8283H188.386V42.9394H190.029V44.5454Z" fill="black"/>
                    <path d="M194.505 47.8477C194.505 46.8372 194.709 45.953 195.118 45.1951C195.527 44.4251 196.087 43.8296 196.797 43.4085C197.518 42.9875 198.318 42.7769 199.197 42.7769C200.063 42.7769 200.815 42.9634 201.452 43.3364C202.09 43.7093 202.565 44.1785 202.878 44.7439V42.9394H204.538V52.8283H202.878V50.9877C202.553 51.5651 202.066 52.0463 201.416 52.4313C200.779 52.8043 200.033 52.9907 199.179 52.9907C198.3 52.9907 197.506 52.7742 196.797 52.3411C196.087 51.908 195.527 51.3005 195.118 50.5185C194.709 49.7365 194.505 48.8463 194.505 47.8477ZM202.878 47.8658C202.878 47.1199 202.727 46.4703 202.427 45.9169C202.126 45.3635 201.717 44.9424 201.2 44.6537C200.694 44.3529 200.135 44.2025 199.521 44.2025C198.908 44.2025 198.348 44.3469 197.843 44.6356C197.338 44.9244 196.935 45.3454 196.634 45.8988C196.333 46.4522 196.183 47.1019 196.183 47.8477C196.183 48.6057 196.333 49.2673 196.634 49.8328C196.935 50.3862 197.338 50.8132 197.843 51.114C198.348 51.4027 198.908 51.5471 199.521 51.5471C200.135 51.5471 200.694 51.4027 201.2 51.114C201.717 50.8132 202.126 50.3862 202.427 49.8328C202.727 49.2673 202.878 48.6117 202.878 47.8658Z" fill="black"/>
                    <path d="M208.955 39.4746V52.8283H207.313V39.4746H208.955Z" fill="black"/>
                    </svg>
                </div>
            </div>

            <!-- Order Information-->

            <table role="presentation" border="0" width="100%" cellspacing="0">
                <tr style="font-size: 8pt; display: flex; align-items: flex-start; justify-content: space-between; padding: 10pt 0pt;">
                    <td style="padding: 0pt 0pt 0pt 10pt;"> 
                        <p style="margin: 0pt; font-weight: bold;">
                            Lahore, Punjab Pakistan 
                        </p>

                        <p style="margin: 10pt 0pt;">
                            Info@cybermart.com
                        </p>
                        
                        <p style="margin: 0pt 0pt;">
                            042-22300312
                        </p>
                    </td>

                    <td style="padding: 0pt 10pt 0pt 0pt; font-weight: bold;">
                        <h2 style="color: #0185ba; margin: 0pt;">
                            INVOICE
                        </h2>

                        <p style="margin: 10pt 0pt;">
                            Order # <span style="color: #0185ba;"> <%= order.orderPrefixId %> </span>
                        </p>
                        
                        <p style="margin: 10pt 0pt;">
                            Date: <%= moment(order.datetime).format('MMM DD, YYYY')%>
                        </p>
                    </td>
                </tr> 
                
                <tr style="font-size: 8pt; background: #F6F9FC; display: flex; align-items: center; justify-content: space-evenly; padding: 15pt 0pt;">
                    <td style="padding: 0pt 0pt 0pt 10pt; font-weight: bold; color: #26323899;"> 
                        <p style="margin: 0pt; color: #000; font-weight: bold;">
                            Payment Details
                        </p>

                        <p style="margin: 10pt 0pt;">
                            Junaid ConvexTech
                        </p>
                        
                        <p style="margin: 0pt 0pt; max-width: 250pt;">
                            Haffez Center. Shop No 1, Lahore
                            Punjab, Pakistan
                        </p>
                    </td>

                    <td style="padding: 0pt 0pt 0pt 10pt; color: #26323899;"> 
                        <p style="margin: 0pt; color: #000; font-weight: bold;">
                            Shipping Address
                        </p>

                        <p style="margin: 10pt 0pt;">
                            <%= order.shipping.name %>
                        </p>
                        
                        <p style="margin: 0pt 0pt; max-width: 250pt;">
                            <%= order.shipping.lineAddress1 %>
                        </p>
                        <p style="margin: 0pt 0pt; max-width: 250pt;">
                            <%= order.shipping.lineAddress2 %> <%= order.shipping.country %> <%= order.shipping.state %> <%= order.shipping.city %>
                            <%= order.shipping.zipcode %>
                        </p>
                    </td>
                </tr>
            </table>

            <table style="width:100%; border-spacing: 0pt; margin-top: 1rem;">
                
                <tr style="font-size: 10pt; font-weight: 400;border-bottom: 1pt solid #0000001a">
                    <td width="30%" style="border-bottom: 1pt solid #0000001a; padding: 5pt;">Name</td>
                    <td style="border-bottom: 1pt solid #0000001a; padding: 5pt;">Quantity</td>
                    <td style="border-bottom: 1pt solid #0000001a; padding: 5pt;">Price</td>
                    <td style="border-bottom: 1pt solid #0000001a; padding: 5pt;">Tax</td>
                    <td style="border-bottom: 1pt solid #0000001a; padding: 5pt;">Total</td>
                </tr>

                <% 
                    order.productDetail.forEach(function(product) {
                %>

                <tr style="font-size: 8pt;border-bottom: 1pt solid;font-weight: 400; color: #26323899;">
                  <td width="30%" style="padding: 10pt; max-width: 170pt;">
                    <%= product.name %>
                  </td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= product.quantity %></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= product.price %></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;">0.00</td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= product.total %></td>
                </tr>
                <% 
                    }); 
                %>
                <% var t= parseFloat(order.total)
                var s= parseFloat(order.shippingCharges)
                var allT = t + s %> 
                <tr style="font-size: 10pt; border-bottom: 1pt solid;font-weight: bold;">
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;">Discount</td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= order.totalDiscount %>.00</td> 
                </tr>

                <tr style="font-size: 10pt; border-bottom: 1pt solid;font-weight: bold;">
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;">Sub Total</td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= order.subtotal %>.00</td>
                </tr>

                <tr style="font-size: 10pt;border-bottom: 1pt solid;font-weight: bold;">
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"></td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;">Total</td>
                  <td style="border-bottom: 1pt solid #0000001a; padding: 10pt;"><%= allT %> .00</td>
                </tr>
            </table>

            <div style="font-size: 8pt; font-weight: bold; padding: 1rem 2rem 0rem;">
                <p style="margin: 0pt; color: #000;">
                    Payment Terms and Conditions
                </p>

                <p style="color: #26323899; text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, laboriosam aliquam alias sit dicta sequi voluptates aspernatur ipsum nostrum minima soluta, assumenda quam doloribus facere delectus, nesciunt labore reiciendis possimus.
                </p>
                
                <p style="text-align: center;">
                    This is a system generated invoice and needs no signature. Jurisdiction in case of disputes be limited to the state from which the product is shipped. Maximum liability is restircted to selling price collected from the customer.
                </p>
            </div>
        </div>
    </div>
</body>
</html>